/*-------- APP variable-------------*/
$head-background: rgba(63, 63, 63, 1);
$site-body-background: lightgray;
$border-color: rgba(0, 0, 0, 0.75);
$border-shadow-color: rgba(0, 0, 0, 0.45);

$btn-primary-background: #666666;
$btn-success-background: #00bb00;

$font-name: Arial;
/*---------------------------------*/

body {
  background-color: $site-body-background;
  font-family: $font-name !important;
}

.form-border {
  border: 1px solid $border-color;
  box-shadow: 0 0 5px 2px $border-shadow-color;
}

.form-border .form-title {
  min-height: 44px;
  background-color: $head-background;

  span {
    margin: auto 0;
    color: #fff;
    padding-left: 5px;
  }
}

.form-check-input, .form-check-label {
  cursor: pointer;
}

.spacer {
  margin: 10px 0;
  width: 100%;

  &--20 {
    margin: 20px 0;
  }
}

.logo-container {
  img {
    width: 100%;
  }
}

.small-form {
  max-width: 320px;
  width: 100%;
}

.login-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .logo-container {
    margin-right: auto;
  }
}

.navbar-check-code {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .fa {
    cursor: pointer;
  }
}

.offer-item label, .voucher-item label {
  font-weight: bold;
}

.btn-primary{
  background-color: $btn-primary-background !important;
}

.btn-success{
  background-color: $btn-success-background !important;
}


@media only screen and (max-width : 480px) {
  #recaptcha_challenge_image{
    margin: 0 !important;
    width: 100% !important;
    height: auto !important;
  }
  #recaptcha_response_field
  {
    margin: 0 !important;
    width: 100% !important;
    height: auto !important;
  }
  .recaptchatable #recaptcha_image {
    margin: 0 !important;
    width: 100% !important;
    height: auto !important;
  }
  .recaptchatable .recaptcha_r1_c1,
  .recaptchatable .recaptcha_r3_c1,
  .recaptchatable .recaptcha_r3_c2,
  .recaptchatable .recaptcha_r7_c1,
  .recaptchatable .recaptcha_r8_c1,
  .recaptchatable .recaptcha_r3_c3,
  .recaptchatable .recaptcha_r2_c1,
  .recaptchatable .recaptcha_r4_c1,
  .recaptchatable .recaptcha_r4_c2,
  .recaptchatable .recaptcha_r4_c4,
  .recaptchatable .recaptcha_image_cell {

    margin: 0 !important;
    width: 100% !important;
    background: none !important;
    height: auto !important;
  }

}