<ng-container *ngIf="!resetData">
    <!-- separate component -->
    <app-voucher-details [voucher]="voucher"></app-voucher-details>

    <!-- separate component -->
    <app-offer-details [voucher]="voucher"></app-offer-details>
</ng-container>
