<form [formGroup]="form" class="form-border p-3" (ngSubmit)="search()">
    <div class="form-title d-flex mb-2">
        <span> {{'check_code.form.title' | translate | titlecase}} </span>
    </div>
    <app-clear></app-clear>
    <div>
        <label for="code_check_form_msisdn" class="control-label">
            {{'form.field.label.msisdn_optional' | translate | uppercase}}
        </label>
        <div class="form-group row">
            <div [ngClass]="{'col-sm-5': enablePhoneCodeFlag, 'col-sm-4': !enablePhoneCodeFlag}">
                <ng-select appearance="outline" [searchable]="false" [clearable]="false" formControlName="phoneCode"
                           (close)="onClose()"
                           [(ngModel)]="defaultSelectedPhoneCode" #select>
                    <ng-option *ngFor="let phoneCode of phoneCodes; let i = index" [value]="phoneCode.phoneCode"
                               data-toggle="tooltip" data-placement="top" title="{{phoneCode.name}}">
                        <span class="tooltip-wrapper" data-toggle="tooltip" data-placement="top"
                              title="{{phoneCode.name}}">
                            <em *ngIf="enablePhoneCodeFlag" class="{{phoneCode.isoCode | lowercase}} flag"></em>
                            {{phoneCode.phoneCode}}
                        </span>
                    </ng-option>
                </ng-select>
            </div>
            <div [ngClass]="{'col-sm-7': enablePhoneCodeFlag, 'col-sm-8': !enablePhoneCodeFlag}">
                <input type="text" id="code_check_form_msisdn" class="form-control" formControlName="msisdn"/>
            </div>
        </div>
    </div>
    <div>
        <label for="code_check_form_voucherCode" class="control-label mt-3 required">
            {{'form.field.label.voucher_code'| translate | uppercase}}
        </label>
        <input type="text" id="code_check_form_voucherCode" class="form-control" required
               formControlName="voucherCode"/>
    </div>
    <div>
        <label for="supplier" class="control-label mt-3 required">
            {{'form.field.label.supplier'| translate | uppercase}}
        </label>
        <select (change)="changeSupplier($event)" class="form-control" formControlName="supplier" id="supplier">
            <option value="" disabled selected>{{'form.field.placeholder.supplier'| translate}}</option>
            <option *ngFor="let supplier of suppliers; let i = index" [value]="suppliers[i].id">{{suppliers[i].name}}</option>
        </select>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            <div class="d-flex justify-content-center mt-3">
                <button type="submit" class="btn btn-success col-sm-12 m-auto">
                    {{'button.search' | translate | titlecase}}
                </button>
            </div>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-center mt-3">
                <button type="button" (click)="clear()"
                        class="btn btn-primary col-sm-12 m-auto"
                        *ngIf="form.dirty">
                    {{'button.clear' | translate | titlecase}}
                </button>
            </div>
        </div>
    </div>
    <div class="form-error text-danger" *ngIf="missingMandatory">
        {{'mandatory' | translate | ucfirst}}
    </div>
</form>
