@import 'variables';
@import 'flag';
@import "~@ng-select/ng-select/themes/default.theme.css";

.row {
    flex: 1 0 100%;
}

.btn-primary {
    background-color: #666 !important;
}

.btn-success {
    background-color: #0b0 !important;
}

.navbar-check-code {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .fa {
        cursor: pointer;
    }
}

.spacer {
    margin: 10px 0;
    width: 100%;

    &--20 {
        margin: 20px 0;
    }
}

.form-border {
    border: 1px solid $borderDark;
    box-shadow: 0 0 5px 2px $boxShadowDark;

    .form-title {
        min-height: 44px;
        background-color: $backgroundDark;

        span {
            margin: auto 0;
            color: #fff;
            padding-left: 5px;
        }
    }

    button.reveal {
        &:focus, &:active {
            box-shadow: none;
        }
    }

    .btn-login {
        background-color: #666;
    }
}

.logo-container img {
    width: 100%;
}
