<div class="row mb-3">
    <div class="col-md-12">
        <div class="p-3 form-border">
            <div class="form-title d-flex mb-2">
                <span>{{ 'offer.form.title' | translate | titlecase }}</span>
            </div>
            <ng-container *ngIf="!unavailable && notExpired">
                <div class="offer-item">
                    <label>{{ 'offer.form.label.title' | translate }}&nbsp;</label>
                    <span [innerHTML]="voucher.offerDisplay | nl2br"></span>
                </div>
                <div class="offer-item">
                    <label>{{ 'offer.form.label.description' | translate }}</label>
                    <div [innerHTML]="voucher.description | nl2br"></div>
                </div>
            </ng-container>
            <ng-container *ngIf="unavailable || !notExpired">
                {{ 'offer.error.offer_unavailable' | translate }}
            </ng-container>
        </div>
    </div>
</div>
