<div class="row mb-3">
    <div class="col-md-12">
        <div class="p-3 form-border">
            <div class="form-title d-flex mb-2">
                <span>{{ 'voucher.form.title' | translate | titlecase }}</span>
            </div>

            <ng-container *ngIf="voucher && voucher.voucherCode && !voucher.redeemDate && notExpired">
                <div class="voucher-item">
                    <label>{{ 'voucher.form.label.voucher_code' | translate }}</label>
                    <span> {{ voucher.voucherCode }}</span>
                </div>
                <div class="voucher-item">
                    <label>{{ 'voucher.form.label.expiry_date' | translate }}</label>
                    <span class="text-danger"> {{ voucher.expiryDate|date: 'y-MM-dd' }}</span>
                </div>
                <div class="voucher-item">
                    <label>{{ 'voucher.form.label.supplier' | translate }}</label>
                    <span> {{ voucher.supplier }}</span>
                </div>
            </ng-container>
            <ng-container *ngIf="!notExpired">
                <span class="text-danger">
                    {{ 'voucher.error.expired(date)' | translate:{date: voucher.expiryDate|date: 'y-MM-dd'} }}
                </span>
            </ng-container>
	    <ng-container *ngIf="customerNotFound">
                {{ 'voucher.error.customer_not_found' | translate }}
            </ng-container>
            <ng-container *ngIf="(!voucher || !voucher.voucherCode) && !voucher?.alreadyRedeemed && !customerNotFound">
                {{ 'voucher.error.code_unavailable' | translate }}
            </ng-container>
            <ng-container *ngIf="voucher?.redeemDate">
                {{ 'voucher.error.code_already_redeemed(date)(msisdn)' | translate: {date: voucher.redeemDate|date, msisdn: voucher.msisdn || '<>'} }}
            </ng-container>
            <ng-container *ngIf="voucher?.alreadyRedeemed">
                {{ 'voucher.error.code_already_redeemed' | translate }}
            </ng-container>
        </div>
    </div>
</div>
