<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ 'public.site.title'|trans }}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('build/images/icon_logo.png') }}"/>
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('app/css') }}
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}
    {% block navigation %}
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                <ul class="navbar-nav navbar-check-code">
                    <li class="nav-item text-white active mr-auto">
                        {% if app.user %}
                            {{ app.user.username }}
                        {% endif %}
                    </li>
                    <li class="nav-item text-white"></li>
                    <li class="nav-item text-white ml-auto">
                        <a href="{{ path('fos_user_security_logout') }}"
                           title="{{ 'public.nav.logout.btn'|trans }}">
                            <i class="fa fa-download"></i>
                        </a>
                    </li>
                </ul>
        </nav>
    {% endblock navigation %}
    <div class="container mb-5">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="d-flex justify-content-center">
                    <a href="{{ path('voucher_check') }}">
                        <img src="{{ asset('build/images/dst_logo.png') }}" alt="DST"/>
                    </a>
                </div>
            </div>
        </div>
        {% if app.request.hasPreviousSession %}
            <div class="row mb-3">
                <div class="form-error text-danger m-auto">
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="flash-{{ type }}">
                                {{ message|trans }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% block body_container %}
        {% endblock %}
    </div>
{% endblock %}
{{ encore_entry_script_tags('app') }}
{{ encore_entry_script_tags('app/js') }}
{% block javascripts %}
{% endblock %}
</body>
</html>
