<div class="overlay" [ngClass]="{ 'visible': show, 'active': show }">
    <div class="d-flex justify-content-center spinner-wrapper">
        <div class="spinner-border" role="status" style="width: 3rem; height: 3rem;" [ngStyle]="borderColor">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

