@import 'src/assets/styles/variables';

.overlay {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparentize($backgroundDark, 0.55);
    z-index: 1000;
    visibility: hidden;
    opacity: 0;

    &:not(.visible) .icon,
    &:not(.visible) .spinner {
        display: none;
    }

    &.visible {
        visibility: visible;
    }

    &.active {
        opacity: 1;
    }
}

.spinner-wrapper {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
