{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12 m-auto">
        <form action="{{ path("fos_user_security_login") }}" method="post" class="p-3 form-box form-border">
            <div class="form-title d-flex mb-2">
                <span>
                    {{ 'security.login.form.title'|trans }}
                </span>
            </div>
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            {% endif %}

            <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input class="form-control" type="text" id="username" name="_username"
                       value="{{ last_username }}" required="required" autocomplete="username"/>
            </div>
            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <div class="input-group" id="show_hide_password">
                    <input class="form-control pwd" type="password" id="password" name="_password" required="required"
                           autocomplete="current-password"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default reveal" type="button">
                            <i class="fa fa-eye-slash" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </div>

            {% if captcha_html %}
                <div class="form-check mb-2">
                    {# show captcha image  #}
                    {{ captcha_html | raw }}
                    <input type="text" id="captchaCode" name="captchaCode">
                </div>
            {% endif %}

            <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" id="remember_me" name="_remember_me"
                       value="on"/>
                <label class="form-check-label" for="remember_me">
                    {{ 'security.login.remember_me'|trans }}
                </label>
            </div>
            {% if error %}
                <div class="form-error text-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            {% if app.request.hasPreviousSession %}
                <div class="form-error text-danger">
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="flash-{{ type }}">
                                {{ message|trans }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="row mb-3">
                <div class="col-6 col-md-6 col-sm-6">
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary mb-2 col-sm-12 m-auto">
                            {{ 'security.login.submit'|trans }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
