@import 'src/assets/styles/variables';

.ng-select {
    height: 100%;
}

::ng-deep .ng-select {
    &.ng-select-single {
        .ng-select-container {
            height: 100%;
        }
    }
}

.tooltip-wrapper {
    display: block;
    width: 100%;
    height: 100%;
}
