<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ 'public.error_page.title'|trans }}</title>
    <link rel="icon" type="image/png" href="{{ asset('build/images/icon_logo.png') }}"/>
    {{ encore_entry_link_tags('app/css') }}
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav navbar-check-code">&nbsp;</ul>
    </div>
</nav>
<div class="container mb-5 mt-5">
    <div class="row">
        <div class="justify-content-center">
            <a href="{{ path('voucher_check') }}">
                <img src="{{ asset('build/images/dst_logo.png') }}" alt="DST"/>
            </a>
            <h1>{{ 'public.error_page.header'|trans }}</h1>
            <p>{{ 'public.error_page.text'|trans }}</p>
            <p>
            <div class="col-3 p-0">
                <button onclick="goBack()" class="btn btn-success col-sm-12 m-auto">
                    {{ 'public.error_page.back_button'|trans }}
                </button>
            </div>
            </p>
        </div>
    </div>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>
