{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <div class="container">
            <div class="row">
                <div class="spacer spacer--20"></div>
            </div>
            <div class="row mb-3">
                <div class="col-4 col-md-4 col-sm-4 m-auto logo-container">
                    <img src="{{ asset('build/images/dst_logo.png') }}" alt="logo"/>
                </div>
            </div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
{% endblock body %}

