{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}
{% block navigation %}{% endblock navigation %}
{% block body_container %}
    <div class="row">
        <div class="col-10 col-sm-8 col-lg-5 col-xl-4 m-auto">

            <div class="p-3 form-box form-border">
                <div class="form-title d-flex mb-2">
                    <span>
                        {{ 'security.login.blocked.title'|trans }}
                    </span>
                </div>

                <div class="d-flex mb-2">
                    <span>
                        {{ 'security.login.blocked.message'|trans({'%N-MINS%': nMins, '%N-SEC%': nSec}) }}
                    </span>
                </div>

                <div class="d-flex mb-2">
                    <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary">
                        {{ 'security.login.blocked.btn'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock body_container %}