{% extends 'base.html.twig' %}
{% block body_container %}
    <div class="row flex-xl-nowrap">
        <div class="col-md-4 col-sm-12 mb-3">
            {{ form_start(form, {'action': path('voucher_check'), 'method': 'POST'}) }}

            <div class="form-title d-flex mb-2">
                <span>
                    {{ 'public.code_check.form.title'|trans }}
                </span>
            </div>

            <div style="clear: both"></div>
            {{ form_row(form.msisdn, {'value' : inputData.msisdn}) }}
            {{ form_row(form.voucherCode, {'value' : inputData.voucherCode}) }}

            {% if useVoucherCheckCaptcha %}
                <div class="row mb-3 mt-3">
                    <div class="col-12 col-md-12 col-sm-12">
                        {{ form_row(form.captcha) }}
                    </div>
                </div>
            {% else %}
                {% do form.captcha.setRendered %}
            {% endif %}

            <div class="row mb-3">
                <div class="col-6 col-md-6 col-sm-6">
                    <div class="d-flex justify-content-center mt-3">
                        <button type="submit" class="btn btn-success col-sm-12 m-auto">
                            {{ 'public.code_check.form.btn.submit'|trans }}
                        </button>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-sm-6">
                    {% if inputData.voucherCode %}
                        <div class="d-flex justify-content-center mt-3">
                            <a type="button" href="{{ path('voucher_check') }}"
                               class="col-sm-12 btn btn-primary m-auto">
                                {{ 'public.code_check.form.btn.clear'|trans }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        {% if inputData.voucherCode or redeem %}
            <div class="col-md-8 col-sm-12">
                {% if redeem %}
                    <div class="row mb-3">
                        <div class="col-md-12 col-sm-12">
                            <div class="p-3 form-border">
                                <div class="form-title d-flex mb-2">
                                    <span>
                                        {{ ('public.redeem.status.'~redeem.status)|trans }}
                                    </span>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        {{ ('public.redeem.message.'~redeem.status)|trans({'%VOUCHER_CODE%': redeem.voucherCode, '%REDEEM_TIME%': redeem.time}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="d-flex justify-content-center">
                                <a href="{{ path('voucher_check') }}" type="button" class="btn btn-primary">
                                    {{ 'public.code_check.form.btn.ok'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="row mb-3">
                        <div class="col-md-12 col-sm-12">
                            <div class="p-3 form-border">
                                <div class="form-title d-flex mb-2">
                                <span>
                                    {{ 'public.voucher_details.title'|trans }}
                                </span>
                                </div>
                                {% if voucher and voucher.voucherCode %}
                                    <div class="voucher-item">
                                        <label>{{ 'public.voucher_details.voucher_code'|trans }}</label>
                                        <span>{{ voucher.voucherCode }}</span>
                                    </div>
                                    <div class="voucher-item">
                                        <label>{{ 'public.voucher_details.expiry_date'|trans }}</label>
                                        <span>{{ voucher.expiryDate }}</span>
                                    </div>
                                    <div class="voucher-item">
                                        <label>{{ 'public.voucher_details.supplier'|trans }}</label>
                                        <span>{{ voucher.supplier }}</span>
                                    </div>
                                {% else %}
                                    {% if errorMessage %}
                                        {{ ('public.voucher_details.' ~ errorMessage)|trans }}
                                    {% else %}
                                        {{ 'public.voucher_details.unavailable'|trans }}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12 col-sm-12">
                            <div class="p-3 form-border">
                                <div class="form-title d-flex mb-2">
                                    <span>
                                        {{ 'public.offer_details.title'|trans }}
                                    </span>
                                </div>
                                {% if voucher and voucher.offerID %}
                                    <div class="offer-item">
                                        <label>{{ 'public.offer_details.offer_name'|trans }}</label>
                                        <span>{{ voucher.offerName|raw }}</span>
                                    </div>
                                    <div class="offer-item">
                                        <label>{{ 'public.offer_details.offer_description'|trans }}</label>
                                        <p>{{ voucher.offerDisplay|raw }}</p>
                                    </div>
                                {% else %}
                                    {{ 'public.offer_details.unavailable'|trans }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if voucher %}
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="d-flex justify-content-center">
                                    <form action="{{ path('voucher_redeem') }}" method="POST">
                                        <input type="hidden" name="redeem[msisdn]" value="{{ inputData.msisdn }}">
                                        <input type="hidden" name="redeem[voucherCode]"
                                               value="{{ inputData.voucherCode }}">
                                        <button type="submit" class="btn btn-success m-auto">
                                            {{ 'public.code_check.form.btn.redeem'|trans }}
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        /**
         * The callback function executed
         * once all the Google dependencies have loaded
         */
        function onGoogleReCaptchaApiLoad() {
            var widgets = document.querySelectorAll('[data-toggle="recaptcha"]');

            for (var i = 0; i < widgets.length; i++) {
                renderReCaptcha(widgets[i]);
            }
        }

        /**
         * Render the given widget as a reCAPTCHA
         * from the data-type attribute
         */
        function renderReCaptcha(widget) {
            var form = widget.closest('form');
            var widgetType = widget.getAttribute('data-type');
            var widgetParameters = {
                'sitekey': '{{ google_recaptcha_site_key }}'
            };

            if (widgetType == 'invisible') {
                widgetParameters['callback'] = function () {
                    form.submit()
                };
                widgetParameters['size'] = "invisible";
            }

            var widgetId = grecaptcha.render(widget, widgetParameters);

            if (widgetType == 'checkbox') {
                bindChallengeToSubmitButtons(form, widgetId);
            }
        }

        /**
         * Prevent the submit buttons from submitting a form
         * and invoke the challenge for the given captcha id
         */
        function bindChallengeToSubmitButtons(form, reCaptchaId) {
            getSubmitButtons(form).forEach(function (button) {
                button.addEventListener('click', function (e) {
                    e.preventDefault();
                    if (grecaptcha.getResponse(reCaptchaId)) {
                        form.submit();
                    }
                    //grecaptcha.execute(reCaptchaId); //for invisible type
                });
            });
        }

        /**
         * Get the submit buttons from the given form
         */
        function getSubmitButtons(form) {
            var buttons = form.querySelectorAll('button, input');
            var submitButtons = [];

            for (var i = 0; i < buttons.length; i++) {
                var button = buttons[i];
                if (button.getAttribute('type') == 'submit') {
                    submitButtons.push(button);
                }
            }

            return submitButtons;
        }

    </script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onGoogleReCaptchaApiLoad&render=explicit"
            async defer>
    </script>
{% endblock %}
