<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <ul class="navbar-nav navbar-check-code">
        <li class="nav-item text-white active mr-auto">
            <span *ngIf="user">{{user.username}}</span>
        </li>
        <li class="nav-item text-white"></li>
        <li class="nav-item ml-auto">
            <a (click)="logout()" title="Logout">
                <i class="fa fa-sign-out font-size18"></i>
            </a>
        </li>
    </ul>
</nav>

<div class="container mb-5">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="d-flex justify-content-center">
                <a href="#">
                    <img src="assets/images/dst_logo.png" alt="DST"/>
                </a>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="form-error text-danger m-auto"></div>
    </div>
    <div class="row flex-xl-nowrap">
        <div class="col-md-4 col-sm-12 mb-3">
            <app-check-code
                (getFormData)="setFormData($event)"
                (getVoucher)="setVoucher($event)"
                (resetForm)="resetForm($event)"
            >
            </app-check-code>
        </div>
        <div class="col-md-8 col-sm-12">
            <!-- separate component -->
            <app-results *ngIf="voucher && !voucherRedeemed"
                         [voucher]="voucher"
                         [resetData]="resetData"
            ></app-results>

            <app-redeem *ngIf="voucher"
                        [formData]="formData"
                        [voucher]="voucher"
                        [resetData]="resetData"
                        (voucherChange)="updateVoucher($event)">
            </app-redeem>
        </div>
    </div>
</div>
