<div class="container">
    <div class="row">
        <div class="spacer spacer--20"></div>
    </div>
    <div class="row mb-3">
        <div class="col-4 m-auto logo-container">
            <img src="assets/images/dst_logo.png" alt="logo" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12 m-auto">
            <form (ngSubmit)="submit()" [formGroup]="form" class="p-3 form-box form-border" *ngIf="isAllowedLogin() && form">
                <div class="form-title d-flex mb-2">
                    <span>{{'login.title' | translate | titlecase}}</span>
                </div>
                <div class="form-group">
                    <label for="username">
                        {{'form.field.label.username' | translate | titlecase }}
                    </label>
                    <input class="form-control"
                           [class.is-invalid]="form.get('username').touched && form.get('username').errors"
                           type="text"
                           id="username"
                           formControlName="username"
                           autocomplete="dst_username" />
                </div>
                <div class="form-group">
                    <label for="password">
                        {{'form.field.label.password' | translate | titlecase }}
                    </label>
                    <div class="input-group">
                        <input class="form-control"
                               [class.is-invalid]="form.get('password').touched && form.get('password').errors"
                               [type]="showPassword ? 'text' : 'password'"
                               id="password"
                               formControlName="password"
                               autocomplete="dst_password" />
                        <span class="input-group-btn">
                            <button class="btn btn-default reveal" type="button" (click)="showPassword = !showPassword">
                                <i
                                    class="fa"
                                    [class.fa-eye-slash]="showPassword"
                                    [class.fa-eye]="!showPassword"
                                    aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input"
                           type="checkbox"
                           id="remember_me"
                           formControlName="remember_me" />
                    <label class="form-check-label" for="remember_me">
                        {{'form.field.label.remember_me' | translate | titlecase}}
                    </label>
                </div>
                <div class="form-error text-danger" *ngIf="loginError">
                    {{loginError | translate | ucfirst}}
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-primary btn-login mb-2 col-sm-12 m-auto">
                                {{'button.submit' | translate | titlecase}}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <app-login-blocked-page *ngIf="!isAllowedLogin()"></app-login-blocked-page>
        </div>
    </div>
</div>
