<div class="p-3 form-box form-border">
    <div class="form-title d-flex mb-2">
        <span>{{'login.blocked.title' | translate | ucfirst}}</span>
    </div>
    <div class="d-flex mb-2">
        <span>
            {{ 'login.blocked.message' | translate: {minutes: (minutes$|async) || getBlockedMinutes(), seconds: (seconds$|async) || getBlockedSeconds()} | ucfirst }}
        </span>
    </div>
    <div class="d-flex mb-2">
        <button class="btn btn-primary btn-login mb-2 col-5 mr-auto" [routerLink]="['/', 'login']" [disabled]="getBlockedSeconds() && getBlockedMinutes()">
            {{'login.blocked.go_to_login' | translate | ucfirst}}
        </button>
    </div>
</div>
