<ng-container *ngIf="!resetData">
    <ng-container *ngIf="submitted">
        <div class="row mb-3">
            <div class="col-md-12 col-sm-12">
                <div class="p-3 form-border">
                    <div class="form-title d-flex mb-2">
                    <span>
                        {{ ('redeem.status.' + status) | translate }}
                    </span>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <ng-container *ngIf="status === statuses.success">
                                {{ 'redeem.message.success(code,date)' | translate:{
                                code: voucher.voucherCode,
                                date: (voucher.redeemDate | date)
                            } }}
                            </ng-container>
                            <ng-container *ngIf="status === statuses.error">
                                {{ 'redeem.message.error' | translate }}
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="showRedeemButton">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center">
                    <button type="button" (click)="redeem()" class="btn btn-success">
                        {{'button.redeem' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>
